<html>
	<head>
	<body>
		<link rel="stylesheet" type="text/css" href="mystyle.css">
	<h1 id="title"><i>TRUMP</i> THE <i>GRUMP</i></h1>
		<img id="trumphead" border="2" src="https://thenypost.files.wordpress.com/2015/06/usa-election_trump1.jpg"
		width = "500" height = "335">
		<img id="trump2" border="2" align="right" src="http://assets.nydailynews.com/polopoly_fs/1.2297532!/img/httpImage/image.jpg_gen/derivatives/article_635/trump21n-1-web.jpg" width = "500" height = "335">
		<script type="text/javascript" href="mytrump.js"></script>
		<script src="https://code.jquery.com/jsquery-2.1.4.min.js"></script>

	</body>
	</head>
</html>